
VNC Server App/fileStore.txt

dev/vnc app/samples/basicServer/.vs/
dev/vnc app/samples/basicServer/out/

dev/vnc app/samples/basicViewerWin/.vs/
dev/vnc app/samples/basicViewerWin/out/

dev/VoiceChat/dist/
dev/VoiceChat/build/
dev/VoiceChat/pythonclient.spec