
VNC Server App/fileStore.txt

dev/server/samples/basicServer/.vs/
dev/server/samples/basicServer/out/

dev/client/samples/basicServer/.vs/
dev/client/samples/basicServer/out/

dev/VoiceChat/dist/
dev/VoiceChat/build/
dev/VoiceChat/pythonclient.spec